{% load static %}

<!doctype html>
<html lang="en">

<head>
        
        <meta charset="utf-8" />
        <title>TDP | Padayatra</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/logo-dark.png' %}">
		
        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />


    </head>

    <body data-layout="horizontal" data-topbar="colored" data-layout-size="boxed">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="\{{user.user_name}}/dashboard/" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                                </span>
                            </a>

                            <a href="\{{user.user_name}}/dashboard/" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>

                      
                    </div>

                    <div class="d-flex">

                   


                        

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect d-flex align-items-center justify-content-center" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" src="{% static 'assets/images/avatar-img.png' %}" alt="Header Avatar">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15 text-white">{{user.user_name}}</span>
                                <i class="arrow-down d-none d-xl-inline-block font-size-15 text-white"></i>
                            </button>
                           <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="\{{user.user_name}}/logout/"><i class="fas fa-sign-out-alt font-size-15 align-middle me-1 text-muted"></i><span class="align-middle">Sign out</span></a>
                            </div>
                        </div>

                      
            
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="topnav">

                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
    
                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link" href="\{{user.user_name}}/dashboard/">
                                          <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                                        </a>
                                    </li>
    
                                    
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
											<i class="fas fa-stream me-2"></i>Timelines <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-pages">

                                          
                                            <a href="\{{user.user_name}}/posts/" class="dropdown-item"><div class="arrow-right"></div>Posts</a>
											   <a href="\{{user.user_name}}/stories/" class="dropdown-item">Stories</a>
											  <a href="\{{user.user_name}}/banners/" class="dropdown-item">Banners</a>
											
											
                                        </div>
                                    </li>
										<li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                            <i class="fas fa-walking me-2"></i>Padayatra <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-pages">

                                            <a href="\{{user.user_name}}/schedule-padayatra/" class="dropdown-item">Schedule Padayatra</a>
                                            <a href="\{{user.user_name}}/schedule-padayatra/" class="dropdown-item">List of Padayatra</a>
											
                                        </div>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link" href="\{{user.user_name}}/users/">
                                            <i class="fa fa-users me-2"></i> Users
                                        </a>
                                    </li>
										 <li class="nav-item align-items-center" style="display:flex; ">
                                        <a class="nav-link" href="\{{user.user_name}}/connect-with-NL/" style="background: #FFED00;  padding: 6px 10px; border-radius: 50px; font-weight: 400; font-size: 14px; line-height: 12px;color: #E52A1D;">
                                             Connect with NL
                                        </a>
                                    </li>
                                    <li class="nav-item align-items-center" style="display:flex;margin-left:10px; ">
                                        <a class="nav-link" href="\{{user.user_name}}/live/" style="background: #FFED00;  padding: 6px 10px; border-radius: 50px; font-weight: 400; font-size: 14px; line-height: 12px;color: #E52A1D;">
                                            <i class="fab fa-youtube"></i> Live
                                        </a>
                                    </li>
                                    <li class="nav-item align-items-center" style="display:flex;margin-left:10px; ">
                                        <a class="nav-link" href="\{{user.user_name}}/sendnotification/">
                                            <i class="fa fa fa-bell"></i> Send Notification
                                        </a>
                                    </li>
                                 
    
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>
    


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        

                        
						  <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body" id="Listbody">
                                      
                                            <div class="col-md-12 d-flex justify-content-end" >
                                                <div class="mb-3">
                                                    <a href="\{{user.user_name}}/createpoll/" class="btn bgcolor-tdp" style="padding:8px 60px;"> Add New</a>
                                                </div>
                                            </div>
                                            <div class="col-md-12 d-flex justify-content-end" >
                                                <div class="mb-3">
                                                    <a href="#" class="btn bgcolor-tdp" style="padding:8px 60px;"> Download Thoughts</a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <script>document.write(new Date().getFullYear())</script> © Telugu Desam Party Padayatra.
                            </div>
                            
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        

       

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'assets/libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'assets/libs/jquery.counterup/jquery.counterup.min.js' %}"></script>
		
		  
        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>
<script>
        const cName="{{user.user_name}}"
    function getCookie(cName) {
      const name = cName + "=";
      const cDecoded = decodeURIComponent(document.cookie); //to be careful
      const cArr = cDecoded .split('; ');
      let res;
      cArr.forEach(val => {
          if (val.indexOf(name) === 0) res = val.substring(name.length);
      })
      return res;
}
const cookie=getCookie(cName)
if(cookie==undefined){
        window.location.href='https://tdp.yuvagalamapp.com/'
    }else{
    getPolls()
    }
    async function getPolls(){
        await fetch(' https://tdp.yuvagalamapp.com/feed/all-polls',{
            headers:{
                    'Content-Type':"application/json",
                    "Authorization":`Bearer ${cookie}`
                },
        }).then(response=>{
            if(response.ok){
            return response.json()
        }else if(response.status==401){
            window.location.href='https://tdp.yuvagalamapp.com/'
        }
        })
        .then(data=>{
            let polls=data.data
            let state;
            polls.forEach(ele=>{
               if(ele.published==true){
                state="UnPublish"
               }else{
                state="Publish"
               }
            $('#Listbody').append(`  <div class="row mb-2 d-flex justify-content-center align-items-center" style="border-bottom: 1.5px solid #C5C5C5;" id="poll${ele.id}">
										  <div class="col-md-6">
										  <a href="/{{user.user_name}}/viewpoll/${ele.id}/">
										  <h4><b>${ele.question_english}</b></h4>
														<p class="text-black"><small>${ele.start_date} to ${ele.end_date}</small></p>
														</a>
										  </div>
										  
										   <div class="col-md-6" style="margin-bottom:1rem; display: flex;">
										  <button  class="btn btn-danger w-sm waves-effect waves-light" id="state${ele.id}" onClick='PublishPoll(${ele.id})'">${state}</button>
														<a href="/{{user.user_name}}/editpoll/${ele.id}/" class="btn btn-danger w-sm waves-effect waves-light ms-2" >Edit</a>
														<button onClick='DeletePoll(${ele.id})'  class="btn btn-danger w-sm waves-effect waves-light ms-2" onClick="deletePoll(${ele.id})">Delete</button>
										  </div>
										  
										  </div>`)
            })

        })
    }
    async function PublishPoll(id){
        let databody;
        if($(`#state${id}`)[0].innerHTML=='Publish'){
            databody={
                id:id,
                published:true,
            }
}else{
    databody={
                id:id,
                published:false,
            }
}
        await fetch(' https://tdp.yuvagalamapp.com/feed/publish-poll',{
            method:'put',
            headers:{
                        'Content-Type':"application/json",
                        "Authorization":`Bearer ${cookie}`
            },
            body:JSON.stringify(databody)
        }).then(response=>{
            if(response.ok){
                if($(`#state${id}`)[0].innerHTML=='Publish'){

$(`#state${id}`)[0].innerHTML='UnPublish'
}else{
$(`#state${id}`)[0].innerHTML='Publish'
}
return response.json()
            
            }else if(response.status==401){
                window.location.href='https://tdp.yuvagalamapp.com/'
            }
        })
    }
    function DeletePoll(id){
    
        fetch(` https://tdp.yuvagalamapp.com/feed/delete-poll/${id}`,{
            method:'delete',
            headers:{
                        'Content-Type':"application/json",
                        "Authorization":`Bearer ${cookie}`
            },
            
        }).then(res=>{
            if(res.ok){
                document.getElementById(`poll${id}`).classList.remove('d-flex')
    document.getElementById(`poll${id}`).style.display='none'
            }
            else if(res.status==401)
            {
                window.location.href='https://tdp.yuvagalamapp.com/'
            }
        })
    }
</script>
    </body>

</html>
