{% load static %}

<!doctype html>
<html lang="en">

<head>
        
        <meta charset="utf-8" />
        <title>TDP | Padayatra</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/logo-dark.png' %}">
		   
        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
		  <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
			<link  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet"/>
    <style>
        
#inputField{
        color: blue;
    }
    .task{
        background-color: lightblue;
        width: fit-content;
        height: fit-content;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        margin: 1rem 0.5rem;
    }
    .container{
        margin: 2rem 0;
    }
    #taskname{
        padding-right: 1rem;
    }
    .delete{
        width: 1.5rem;
        height: 1.5rem;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
    }
    </style>
</head>

    <body data-layout="horizontal" data-topbar="colored" data-layout-size="boxed">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="\{{user.user_name}}/dashboard/" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                                </span>
                            </a>

                            <a href="\{{user.user_name}}/dashboard/" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>

                     
                    </div>

                    <div class="d-flex">          
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect d-flex align-items-center justify-content-center" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" src="{% static 'assets/images/avatar-img.png' %}" alt="Header Avatar">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15 text-white">{{user.user_name}}</span>
                                <i class="arrow-down d-none d-xl-inline-block font-size-15 text-white"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <!-- <a class="dropdown-item" href="\{{user.user_name}}}/changepassword/"><i class="fas fa-unlock font-size-15 align-middle text-muted me-1"></i> <span class="align-middle">Change Password</span></a>
                              -->
                                <a class="dropdown-item" href="\{{user.user_name}}/logout/"><i class="fas fa-sign-out-alt font-size-15 align-middle me-1 text-muted"></i><span class="align-middle">Sign out</span></a>
                            </div>
                        </div>

                      
            
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="topnav">
                        {% if user.is_superadmin %}
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
    
                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link" href="\{{user.user_name}}/dashboard/">
                                          <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                                        </a>
                                    </li>
    
                                    
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
											<i class="fas fa-stream me-2"></i>Timelines <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-pages">

                                          
                                            <a href="\{{user.user_name}}/posts/" class="dropdown-item"><div class="arrow-right"></div>Posts</a>
											   <a href="\{{user.user_name}}/stories/" class="dropdown-item">Stories</a>
											  <a href="\{{user.user_name}}/banners/" class="dropdown-item">Banners</a>
											
											
                                        </div>
                                    </li>
										<li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                            <i class="fas fa-walking me-2"></i>Padayatra <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-pages">

                                            <a href="\{{user.user_name}}/schedule-padayatra/" class="dropdown-item">Schedule Padayatra</a>
                                            <a href="\{{user.user_name}}/padayatra-list/" class="dropdown-item">List of Padayatra</a>
											
                                        </div>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link" href="\{{user.user_name}}/users/">
                                            <i class="fa fa-users me-2"></i> Users
                                        </a>
                                    </li>
    
                                    <li class="nav-item align-items-center" style="display:flex; ">
                                        <a class="nav-link" href="\{{user.user_name}}/connect-with-NL/" style="background: #FFED00;  padding: 6px 10px; border-radius: 50px; font-weight: 400; font-size: 14px; line-height: 12px;color: #E52A1D;">
                                             Connect with NL
                                        </a>
                                    </li>
                                    <li class="nav-item align-items-center" style="display:flex;margin-left:10px; ">
                                        <a class="nav-link" href="\{{user.user_name}}/live/" style="background: #FFED00;  padding: 6px 10px; border-radius: 50px; font-weight: 400; font-size: 14px; line-height: 12px;color: #E52A1D;">
                                            <i class="fab fa-youtube"></i> Live
                                        </a>
                                    </li>
                                    <li class="nav-item align-items-center" style="display:flex;margin-left:10px; ">
                                        <a class="nav-link" href="\{{user.user_name}}/sendnotification/">
                                            <i class="fa fa fa-bell"></i> Send Notification
                                        </a>
                                    </li>
    
                                </ul>
                            </div>
                        </nav>
                        {% elif user.is_manager %}
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
    
                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link" href="\{{user.user_name}}/dashboard/">
                                          <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                                        </a>
                                    </li>
    
                                    
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
											<i class="fas fa-stream me-2"></i>Timelines <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-pages">

                                          
                                            <a href="\{{user.user_name}}/posts/" class="dropdown-item"><div class="arrow-right"></div>Posts</a>
											   <a href="\{{user.user_name}}/stories/" class="dropdown-item">Stories</a>
											  <a href="\{{user.user_name}}/banners/" class="dropdown-item">Banners</a>
											
											
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </header>
    


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                      
						  <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-3 color-red-tdp">Edit Stories</h4>
                                       
                                        <form class="needs-validation">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="">Title<span style="color:red;padding-left:5px;">*</span></label>
                                                        <input type="text" class="form-control" id="title" placeholder="Enter Title" value="" required>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="">Tags</label> 
                                                       <!-- <input type="text" class="form-control p-4" id="tags" data-role="tagsinput" data-placeholder="enter tags ..."/> --> 
                                                        <div id="newtask">
                                                            <input type="text" class="form-control" placeholder="Add Tag" id="inputField" />
                                                        </div>
                                                    <div id="tasks"></div>
                                                    </div>
                                                </div>
                                            </div>
											
                                         <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="" >Title (Telugu)<span style="color:red;padding-left:5px;">*</span></label>
                                                        <input type="text" class="form-control" id="title-telugu" placeholder="శీర్షికను నమోదు చేయండి" value="" required>
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                      
											<div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" id="image-description" for="">Upload Image or Videos</label>
                                                        
                                                       <input type="file" class="form-control" id="images"  value="" accept="image/png, image/gif, image/jpeg, video/*">
														<p class="help-block" style="font-size: 12px; padding-top: 6px;">Image Dimensions:(width-1080px, Height-1920px, Maximum upload size 5MB) <br> Video Dimensions:(1080px*540px or 1920px*1080, Maximum upload size 10MB)</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="" id="current_file">Current Image or Videos</label>
                                                        
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </form>
                                        <button class="btn mt-3 bgcolor-red-tdp text-white" id="btn_form">Submit Post</button>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <script>document.write(new Date().getFullYear())</script> © Telugu Desam Party Padayatra.
                            </div>
                            
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->
        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'assets/libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'assets/libs/jquery.counterup/jquery.counterup.min.js' %}"></script>
		
		          <!-- plugins -->
        <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
          <!-- init js -->
        <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>
       

        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>

        <script>
            console.log($('#inputField'))
               $('#inputField').on('keydown',function(e){
                   if(e.key=='Enter'){
                       e.preventDefault()
                       $('#tasks').append(`<span class="task"><span id="taskname">${e.target.value}</span><button class="delete">X</button></span>`);
                       e.target.value='';
                       var current_tasks = $(".delete")
                       for (var i = 0; i < current_tasks.length; i++) {
                           current_tasks[i].onclick = function () {
                           this.parentNode.remove();
                           };
                       }
                   }}
                   )
           
        //    $('#btn_form').on('click',function(e){ 
        //        alert('button clicked')
        //                for(var i=0;i<$('#tasks')[0].children.length;i++){
        //                    console.log($('#tasks')[0].children[i].firstChild.innerHTML)
        //                 }
        //            })
           
             </script>


  <script>
        const cName="{{user.user_name}}"
    function getCookie(cName) {
      const name = cName + "=";
      const cDecoded = decodeURIComponent(document.cookie); //to be careful
      const cArr = cDecoded .split('; ');
      let res;
      cArr.forEach(val => {
          if (val.indexOf(name) === 0) res = val.substring(name.length);
      })
      return res;
}
const cookie=getCookie(cName)
let id;
if(cookie==undefined){
        window.location.href='https://tdp.yuvagalamapp.com/'
    }else{
         id="{{id}}"
    getStory(id)
    }
    $(function () {
      $('input')
        .on('change', function (event) {
          var $element = $(event.target);
          var $container = $element.closest('.example');

          if (!$element.data('tagsinput')) return;

          var val = $element.val();
          if (val === null) val = 'null';
          var items = $element.tagsinput('items');

          $('code', $('pre.val', $container)).html(
            $.isArray(val)
              ? JSON.stringify(val)
              : '"' + val.replace('"', '\\"') + '"'
          );
          $('code', $('pre.items', $container)).html(
            JSON.stringify($element.tagsinput('items'))
          );
        })
        .trigger('change');
    });
  
  

    async function getStory(id){
        await fetch(`https://tdp.yuvagalamapp.com/feed/story-by-id/${id}`,{
            headers:{
                'Content-Type':"application/json",
                    "Authorization":`Bearer ${cookie}`
            }
        }).then(response=>{
            if(response.ok){
            return response.json()
        }else if(response.status==401){
            window.location.href='https://tdp.yuvagalamapp.com/'
        }
        })
        .then(data=>{
            let story=data.data[0]
            $('#title').val(story.title_english)
            let currentTags=story.tags.split(',')
            currentTags.forEach(ele=>{
                console.log(ele)
                $('#tasks').append(`<span class="task"><span id="taskname">${ele}</span><button class="delete">X</button></span>`);
            console.log('========================')
            var current_tasks = $(".delete")
            for (var i = 0; i < current_tasks.length; i++) {
                current_tasks[i].onclick = function () {
                this.parentNode.remove();
                };
            }

            })
            $('#title-telugu').val(story.title_telugu)
            let type=story.source_link.split('.').slice('-1')
            if(type[0]=='mp4'){
                $('#current_file').append(`<p><video src=${story.source_link} width="400px" height="400px"></video></p>`)
            }else{
            $('#current_file').append(`<p><img src=${story.source_link} width="300px" height="300px"></p>`)
    }
})
    }
    let uploadedFiles=[]
    let posttype;
        $('#images').on('change',function(e){
            uploadedFiles=[]
            $('#text-description').remove()
        const image=e.target.files[0]
        let img_type=image.type.split('/')[0]
            if (img_type=='image'){
                if(image.size<5242880){
                const reader=new FileReader()
                reader.onload=function(){
                const img=new Image()
                img.src=reader.result
                    img.onload=function(){
                        if(img.height==1920 && img.width==1080){
                            const files={
                            file_extension:reader.result.split(',')[0].split(';')[0].split('/')[1],
                            file_type:reader.result.split(',')[0].split(';')[0].split('/')[0].split(':')[1].toUpperCase(),
                            data:reader.result.split(',')[1],
                        }
                            if(files.file_type=='IMAGE'){
                                $('#image-description').append(`<p class="text-success" id="text-description">Image is Valid..</p>`)
                                uploadedFiles.push(files)
                                posttype='IMAGE'
                            }
                        }
                        else{
                        $('#image-description').append(`<p class="text-danger" id="text-description">Enter Image With Dimensions 1920*1080</p>`)
                        }
                    }
                }
                reader.readAsDataURL(image)
            }else{

                $('#image-description').append(`<p class="text-danger">Image Size should be 5mb or less</p>`)
            }
}else if(img_type=='video'){
    $('#image-description').empty()
                if(image.size<10485760){
                const reader2=new FileReader()
                reader2.onload=function(e){
            var dataUrl =  reader2.result;
            var videoId = "videoMain";
            var $videoEl = $('<video id="' + videoId + '"></video>');
            $videoEl.attr('src',dataUrl)
            const videoTag=$videoEl[0]
            videoTag.onloadedmetadata=function(e){
                let x=videoTag.videoHeight/videoTag.videoWidth
                let y=16/9
               if(x===y){
                            const files={
                            file_extension:reader2.result.split(',')[0].split(';')[0].split('/')[1],
                            file_type:reader2.result.split(',')[0].split(';')[0].split('/')[0].split(':')[1].toUpperCase(),
                            data:reader2.result.split(',')[1],
                        }
                            if(files.file_type=='VIDEO'){
                                $('#image-description').append(`<p class="text-success" id="text-description">Video is Valid..</p>`)
                                uploadedFiles.push(files)
                                posttype='VIDEO'
                            }
                }else{
                    $('#image-description').append(`<p class="text-danger">Video is inValid.. Video must in ratio of 16:9</p>`)

                }
            }
        }
reader2.readAsDataURL(image);

}else{
    $('#image-description').append(`<p class="text-danger">Video is inValid.. Video must be lessthan 50mb</p>`)

}
}})
           
            $('#btn_form').on('click',function(e){
                e.preventDefault()
                let files=uploadedFiles
                uploadfile(files)
            })
    
    async function uploadfile(files){
        const FileData={
            files:files
        }
        await fetch('https://tdp.yuvagalamapp.com/feed/upload',{
            method:'post',
            headers:{
                        'Content-Type':'application/json',
                    "Authorization":`Bearer ${cookie}`,
                    },
            body:JSON.stringify(FileData)
        })
        .then(response=>{
            if(response.ok){
            return response.json()
        }else if(response.status==401){
            window.location.href='https://tdp.yuvagalamapp.com/'
        }
        })
        .then(data=>{
            let urls=data.data.join(',')
            postData(urls)
        })
    }
    async function postData(urls){
        let tags=[];
        for(var i=0;i<$('#tasks')[0].children.length;i++){
                tags.push($('#tasks')[0].children[i].firstChild.innerHTML)
             }
        const data={
            id:Number.parseInt("{{id}}"),
        title_english:$('#title').val(),
        title_telugu:$('#title-telugu').val(),
        tags:tags.join(','),
        source_link:urls,
        user_id:1,
        published:false,
        thumbnail:"https://dev-tdp-feed.s3.ap-south-1.amazonaws.com/stories/images/221230400659118431.png"
        }
        await fetch('https://tdp.yuvagalamapp.com/feed/update-stories',{
            method:'put',
            headers:{
                "Content-Type":'application/json',
                "Authorization":`Bearer ${cookie}`,
            },
            body:JSON.stringify(data)
        }).then(response=>{
            if(response.ok){
                window.location.href='https://tdp.yuvagalamapp.com/{{user.user_name}}/stories/'
         
            return response.json()
        }else if(response.status==401){
            window.location.href='https://tdp.yuvagalamapp.com/'
        }
        })
        .then(data=>{
        })
    }    
    </script>

    </body>

</html>
