{% load static %}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>TDP | Padayatra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo-dark.png' %}">

    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
        rel="stylesheet" />

    <style>
        .select2-container--default .select2-selection--single {
            height: 34px !important;
            padding: 0.17rem 0.25rem !important;
        }
    </style>
</head>

<body data-layout="horizontal" data-topbar="colored" data-layout-size="boxed">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="\{{user.user_name}}/dashboard/" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                            </span>
                        </a>

                        <a href="\{{user.user_name}}/dashboard/" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                            </span>
                        </a>
                    </div>

                    <button type="button"
                        class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                        data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

              
                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block">
                        <button type="button"
                            class="btn header-item waves-effect d-flex align-items-center justify-content-center"
                            id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="rounded-circle header-profile-user"
                                src="{% static 'assets/images/avatar-img.png' %}" alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">{{user.user_name}}</span>
                            <i class="arrow-down d-none d-xl-inline-block font-size-15 text-white"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <!-- <a class="dropdown-item" href="change-password.html"><i class="fas fa-unlock font-size-15 align-middle text-muted me-1"></i> <span class="align-middle">Change Password</span></a>
                               
                              -->


                            <a class="dropdown-item" href="\{{user.user_name}}/logout/"><i
                                    class="fas fa-sign-out-alt font-size-15 align-middle me-1 text-muted"></i><span
                                    class="align-middle">Sign out</span></a>
                        </div>
                    </div>



                </div>
            </div>
            <div class="container-fluid">
                <div class="topnav">

                    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                        <div class="collapse navbar-collapse" id="topnav-menu-content">
                            <ul class="navbar-nav">

                                <li class="nav-item">
                                    <a class="nav-link" href="\{{user.user_name}}/dashboard/">
                                        <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                                    </a>
                                </li>



                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages"
                                        role="button">
                                        <i class="fas fa-stream me-2"></i>Timelines <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-pages">


                                        <a href="\{{user.user_name}}/posts/" class="dropdown-item">
                                            <div class="arrow-right"></div>Posts
                                        </a>
                                        <a href="\{{user.user_name}}/stories/" class="dropdown-item">Stories</a>
                                        <a href="\{{user.user_name}}/banners/" class="dropdown-item">Banners</a>


                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages"
                                        role="button">
                                        <i class="fas fa-walking me-2"></i>Padayatra <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-pages">

                                        <a href="\{{user.user_name}}/schedule-padayatra/" class="dropdown-item">Schedule
                                            Padayatra</a>
                                        <a href="\{{user.user_name}}/padayatra-list/" class="dropdown-item">List of
                                            Padayatra</a>

                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="\{{user.user_name}}/users/">
                                        <i class="fa fa-users me-2"></i> Users
                                    </a>
                                </li>

                                <li class="nav-item align-items-center" style="display:flex; ">
                                    <a class="nav-link" href="\{{user.user_name}}/connect-with-NL/"
                                        style="background: #FFED00;  padding: 6px 10px; border-radius: 50px; font-weight: 400; font-size: 14px; line-height: 12px;color: #E52A1D;">
                                        Connect with NL
                                    </a>
                                </li>
                                <li class="nav-item align-items-center" style="display:flex;margin-left:10px; ">
                                    <a class="nav-link" href="\{{user.user_name}}/live/"
                                        style="background: #FFED00;  padding: 6px 10px; border-radius: 50px; font-weight: 400; font-size: 14px; line-height: 12px;color: #E52A1D;">
                                        <i class="fab fa-youtube"></i> Live
                                    </a>
                                </li>
                                <li class="nav-item align-items-center" style="display:flex;margin-left:10px; ">
                                    <a class="nav-link" href="\{{user.user_name}}/sendnotification/">
                                        <i class="fa fa fa-bell"></i> Send Notification
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>



        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-3 color-red-tdp">Schedule Padayatra</h4>
                                    <form class="needs-validation" id="form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label class="form-label" for="">Padayatra Name<span
                                                            style="color:red;padding-left:5px;">*</span></label>
                                                    <input type="text" class="form-control" placeholder="Enter Title"
                                                        name="title" id="title" value="" required>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3" id="pcs">
                                                    <label class="form-label" for="">Parliament Constituency<span
                                                            style="color:red;padding-left:5px;">*</span></label>
                                                    <select class="form-control select2" required id="pclist"
                                                        name="district">

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="">Assembly Constituency<span
                                                            style="color:red;padding-left:5px;">*</span></label>
                                                    <select class="form-control select2" required id="aclist"
                                                        name="assembly">
                                                        <option value="" selected>Select Parliament Constituency
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="">Village/Mandal (optional)</label>
                                                    <input type="text" class="form-control" id="village"
                                                        placeholder="Enter Village/Mandal" value="" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="">Padayatra Start Point<span
                                                            style="color:red;padding-left:5px;">*</span></label>
                                                    <input type="text" class="form-control" id="start_point"
                                                        placeholder="Enter Padayatra Start Point" value="" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="" id="startConflict">Padayatra Start
                                                        Date</label>
                                                    <input type="datetime-local" class="form-control" id="start_date"
                                                        value="" required />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="" id="endConflict">Padayatra End
                                                        Date<span style="color:red;padding-left:5px;">*</span></label>
                                                    <input type="datetime-local" class="form-control" id="end_date"
                                                        value="" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="">Padayatra Status</label>
                                                    <select class="form-control form-select" id="pdstatus" name="status"
                                                        required>
                                                        <option value="" selected>Select Status</option>
                                                        <option value="Completed">Completed</option>
                                                        <option value="OnGoing">OnGoing</option>
                                                        <option value="Scheduled">Scheduled</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <button class="btn mt-3 bgcolor-red-tdp text-white" type="submit">Schedule
                                            Padayatra</button>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->


                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <script>document.write(new Date().getFullYear())</script> © Telugu Desam Party Padayatra.
                        </div>

                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->





    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'assets/libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery.counterup/jquery.counterup.min.js' %}"></script>
    <!-- plugins -->
    <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
    <!-- init js -->
    <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>
    <!-- App js -->
    <script src="{% static 'assets/js/app.js' %}"></script>

    <script>
        let district_map;
        let maps = [];
        const cName = "{{user.user_name}}"
        function getCookie(cName) {
            const name = cName + "=";
            const cDecoded = decodeURIComponent(document.cookie); //to be careful
            const cArr = cDecoded.split('; ');
            let res;
            cArr.forEach(val => {
                if (val.indexOf(name) === 0) res = val.substring(name.length);
            })
            return res;
        }
        const cookie = getCookie(cName)

        if (cookie == undefined) {
            window.location.href = 'https://tdp.yuvagalamapp.com/'
        } else {
            getPc()

        }


        async function getPc() {
            await fetch('https://tdp.yuvagalamapp.com/users/all-districts', {
                headers: {
                    'Content-Type': "application/json",
                    "Authorization": `Bearer ${cookie}`
                },
            })
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else if (response.status == 401) {
                        window.location.href = 'https://tdp.yuvagalamapp.com/'
                    }
                }
                )
                .then(data => {
                    let districts = data.data
                    $('#pclist').append(`<option value="" selected>Select Parliament Constituency</option>`)
                    districts.forEach(element => {
                        const newDistrict = `<option value="${element.district}">${element.district}</option>`
                        maps.push(element)
                        $('#pclist').append(newDistrict)

                    });
                })
        }
        $("#pclist").on('change', function (e) {
            $('#aclist').empty()
            $('#aclist').append(`<option value="" selected>Select Parliament Constituency</option>`)
            let selected_district = e.target.value
            maps.forEach(ele => {
                if (selected_district == ele.district) {
                    district_map = ele.source_link
                }
            })
            getAc(selected_district)
        })

        async function getAc(selected_district) {
            await fetch(`https://tdp.yuvagalamapp.com/users/search-assemblies/${selected_district}`, {
                headers: {
                    'Content-Type': "application/json",
                    "Authorization": `Bearer ${cookie}`
                },
            })
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else if (response.status == 401) {
                        window.location.href = 'https://tdp.yuvagalamapp.com/'
                    }
                }
                )
                .then(data => {
                    let acs = data.data
                    $('#aclist').empty()
                    $('#aclist').append(`<option value="" selected>Select an Assembly Constituency</option>`)
                    acs.forEach(ele => {
                        $('#aclist').append(`<option value="${ele.assembly}">${ele.assembly}</option>`)
                    })
                })
        }

        let start_date_conflict;
        let end_date_conflict;
        let schedules = [];
        let alldates = [];
        async function getDates() {
            await fetch(' https://tdp.yuvagalamapp.com/all-districts-web',
                {
                    headers: {
                        'Content-Type': "application/json",
                        "Authorization": `Bearer ${cookie}`
                    },
                })
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else if (response.status == 401) {
                        window.location.href = 'https://tdp.yuvagalamapp.com/'
                    }
                }).then(data => {
                    list = data.data
                    list.forEach(ele => {
                        //////////////////////////////////////////////////////////////
                        let old_startdate = ele.start_date.split('T')[0]
                        let old_enddate = ele.end_date.split('T')[0]
                        let time = ele.start_date.split('T')[1].split(':')
                        let start_hours = time[0]
                        let start_minutes = time[1]
                        let start_zone;
                        let end_time = ele.end_date.split('T')[1].split(':')
                        let end_hours = end_time[0]
                        let end_minutes = end_time[1]
                        let end_zone;
                        schedules.push({ start_date: new Date(old_startdate).toDateString(), end_date: new Date(old_enddate).toDateString(), start_hours: Number.parseInt(start_hours), old_startminutes: Number.parseInt(start_minutes), end_hours: Number.parseInt(end_hours), old_endminutes: Number.parseInt(end_minutes) })
                    })
                    schedules.forEach(ele => {
                        dates = getDatesBetween(ele.start_date, ele.end_date)
                        dates.forEach(item => {
                            alldates.push(item)
                        })
                    })
                })
        }

        getDates()

        function getDatesBetween(startDate, endDate) {
            let ch_start = new Date(startDate)
            let ch_end = new Date(endDate)
            const currentDate = ch_start;
            const dates = [];
            while (currentDate <= ch_end) {
                dates.push(new Date(currentDate).toDateString());
                currentDate.setDate(new Date(currentDate).getDate() + 1);
            }
            return dates;
        }

        let date_status = false;
        let now_start_date;
        let now_end_date;
        let today = new Date();
        let current_req_dates = [];
        let enddatecontraint = [];
        $('#start_date').on('change', function (e) {
            console.log(e.target.value)
            date_status=false
            now_start_date=e.target.value
            let current_start = e.target.value
            let current_start_date = new Date(current_start.split('T')[0]).toDateString()
            let currentHrs = Number.parseInt(current_start.split('T')[1].split(':')[0])
            let currentMinutes = Number.parseInt(current_start.split('T')[1].split(':')[1])
            if (today <= new Date(current_start)) {
                // if the date entered is greater than the current puploaded time then it may be Valid
                if (alldates.includes(current_start_date)) {
                    // the date is present so check for constraints
                    var i = 0;
                    while (i < schedules.length) {
                        let pd = schedules[i]
                        // check if the date is in start date of any schedule
                        if (pd.start_date == current_start_date) {
                            if (pd.start_date == pd.end_date) {
                                if (pd.start_hours < currentHrs) {
                                    if (pd.end_hours > currentHrs) {
                                        $('#startConflict').empty()
                                        $('#startConflict').append(`<p class="text-danger" id="conflict">Cannot be Between a Schedule</p>`)
                                        break;
                                    } else if (pd.end_hours == currentHrs) {
                                        if (pd.old_endminutes < currentMinutes) {
                                            date_status=true
                                            $('#startConflict').empty()
                                            $('#startConflict').append(`<p class="text-success" id="conflict">Valid Start Date-Time For a Schedule</p>`)
                                        } else {
                                            date_status=false
                                            $('#startConflict').empty()
                                            $('#startConflict').append(`<p class="text-danger" id="conflict">Cannot be Between a Schedule</p>`)
                                            break;
                                        }
                                    } else if (pd.end_hours < currentHrs) {
                                        date_status=true
                                        $('#startConflict').empty()
                                        $('#startConflict').append(`<p class="text-success" id="conflict">Can  be a Schedule</p>`)
                                    }
                                } else if (pd.start_hours > currentHrs) {
                                    date_status=true
                                    $('#startConflict').empty()
                                    $('#startConflict').append(`<p class="text-warning" id="conflict">Can be a Schedule With Constraint with End Time</p>`)
                                }else if(pd.start_hours==currentHrs){
                                    if(pd.end_hours>pd.start_hours){
                                        date_status=false
                                        $('#startConflict').empty()
                                    $('#startConflict').append(`<p class="text-danger" id="conflict">Cannot be a between a Schedule </p>`)
                                        break;
                                    }else if(pd.start_hours==pd.end_hours){
                                        if(pd.old_startminutes>=currentMinutes){
                                            date_status=false
                                            $('#startConflict').empty()
                                    $('#startConflict').append(`<p class="text-danger" id="conflict">Cannot be a between a Schedule </p>`)
                                        break;
                                        }else{
                                            date_status=true
                                            $('#startConflict').empty()
                                    $('#startConflict').append(`<p class="text-success" id="conflict">Can be a Schedule </p>`)
                                        break;
                                        }
                                    }
                                }
                            } if (pd.start_date < pd.end_date) {
                                date_status=false
                                $('#startConflict').empty()
                                $('#startConflict').append(`<p class="text-danger" id="conflict">Cannot be  a Schedule</p>`)
                                break;
                            } else if (pd.end_date > current_start_date) {
                                date_status=false
                                $('#startConflict').empty()
                                $('#startConflict').append(`<p class="text-danger" id="conflict">Cannot be Between a Schedule</p>`)

                                break;
                            }
                        } else if (pd.end_date == current_start_date) {
                            // check if it is in enddate
                            if (pd.end_hours > currentHrs) {
                                date_status=false

                                $('#startConflict').empty()
                                $('#startConflict').append(`<p class="text-danger" id="conflict">Cannot be Between a Schedule</p>`)
                                break;
                            } else if (pd.end_hours < currentHrs) {
                                date_status=false

                                $('#startConflict').empty()
                                $('#startConflict').append(`<p class="text-success" id="conflict">Valid Schedule</p>`)
                            } else if (pd.end_hours == currentHrs) {
                                date_status=false
                                if (pd.old_endminutes >= currentMinutes) {
                                    $('#startConflict').empty()
                                    $('#startConflict').append(`<p class="text-danger" id="conflict">Cannot be Between a Schedule</p>`)
                                    break;
                                } else if (pd.old_endminutes < currentMinutes) {
                                    date_status=true
                                    $('#startConflict').empty()
                                    $('#startConflict').append(`<p class="text-success" id="conflict">Valid Schedule</p>`)
                                }
                            }
                        } else if (pd.start_date < current_start_date & pd.end_date > current_start_date) {
                            // check if it is in between a  schedule
                            $('#startConflict').empty()
                            $('#startConflict').append(`<p class="text-danger" id="conflict">Cannot be Between a Schedule</p>`)
                            break;
                        }
                        i++
                    }
                } else {
                    date_status=true
                    $('#startConflict').empty()                    
                    $('#startConflict').append(`<p class="text-success" id="conflict">valid date for a schedule</p>`)
                }
            } else {
                date_status=false
                $('#startConflict').empty()

                //    date entered is less than the current date I.E past date
                $('#startConflict').append(`<p class="text-danger" id="conflict">Invalid date for a schedule</p>`)
            }
        })

        $('#end_date').on('change', function (e) {
            date_status=false
            now_end_date=e.target.value
            let current_end = e.target.value
            let current_end_date = new Date(current_end.split('T')[0]).toDateString()
            let currentHrs = Number.parseInt(current_end.split('T')[1].split(':')[0])
            let currentMinutes = Number.parseInt(current_end.split('T')[1].split(':')[1])
if(today<=new Date(current_end)){
    if(new Date(now_start_date)<new Date(now_end_date)){
            if(alldates.includes(current_end_date)){
                var j=0;
                while(j<schedules.length){
                    let ed=schedules[j]
                    if(ed.start_date==current_end_date){
                        if(ed.start_date==ed.end_date){
                            if((ed.start_hours>currentHrs)){
                                date_status=false
                                $('#endConflict').empty()
                                    $('#endConflict').append(`<p class="text-warning" id="conflict">Can be a Schedule With Constraint with End Time</p>`)
                            }
                            else if(ed.start_hours<currentHrs){
                                if(ed.end_hours>currentHrs){
                                    date_status=false
                                    $('#endConflict').empty()
                            $('#endConflict').append(`<p class="text-danger" id="conflict">Cannot be Between a Schedule</p>`)
                            break;
                                }else if(ed.end_hours<currentHrs){
                                    date_status=true
                                    $('#endConflict').empty()
                            $('#endConflict').append(`<p class="text-success" id="conflict">Can be a Schedule</p>`)
                               }else if(ed.end_hours==currentHrs){
                                    if(ed.old_endminutes>=currentMinutes){
                                        date_status=false
                                        $('#endConflict').empty()
                            $('#endConflict').append(`<p class="text-danger" id="conflict">Cannot be Between a Schedule</p>`)
                            break;
                                    }else{
                                        date_status=true
                                    $('#endConflict').empty()
                            $('#endConflict').append(`<p class="text-success" id="conflict">Can be a Schedule</p>`)
                        }
                                }
                            }else if(ed.start_hours==currentHrs){
                                if(ed.end_hours>currentHrs){
date_status=false                               

                                    $('#endConflict').empty()
                            $('#endConflict').append(`<p class="text-danger" id="conflict">Cannot be Between a Schedule</p>`)
                            break;
                                }
                            else if(ed.end_hours==currentHrs & ed.old_endminutes<currentMinutes){
                                date_status=true
                                $('#endConflict').empty()
                            $('#endConflict').append(`<p class="text-success" id="conflict">Can be valid a Schedule</p>`)
                                }else{
                                    $('#endConflict').empty()
                            $('#endConflict').append(`<p class="text-warning" id="conflict">Ensure that it is a Schedule</p>`)
                        break;       
                        }
                        }
                            }
                            }
                            j++;
                    }
                }else{
                    date_status=true
                    $('#endConflict').empty()
                            $('#endConflict').append(`<p class="text-success" id="conflict">valid Date for Schedule</p>`)
                }
            }else{
                date_status=false
                $('#endConflict').empty()
                            $('#endConflict').append(`<p class="text-danger" id="conflict">start time must be before end of Schedule</p>`)
            }
        }else{
            date_status=false
            $('#endConflict').empty()
$('#endConflict').append(`<p class="text-danger" id="conflict">Invalid date for a schedule</p>`)
        }
        })
        $('form').on('submit', function (e) {
            e.preventDefault()
            if (date_status) {
                let pd_s = {
                    title: $('#title').val(),
                    district: $('#pclist').val(),
                    assembly: $('#aclist').val(),
                    status: $('#pdstatus').val(),
                    start_point: $('#start_point').val(),
                    start_date: $('#start_date').val(),
                    end_date: $('#end_date').val(),
                    village: $('#village').val(),
                    source_link: district_map
                }
                fetch('https://tdp.yuvagalamapp.com/create-padayatra', {
                    method: 'post',
                    headers: {
                        'Content-Type': "application/json",
                        "Authorization": `Bearer ${cookie}`
                    },
                    body: JSON.stringify(pd_s),
                }).then(response => {
                    if (response.ok) {
                        window.location.reload()
                        window.location.href = 'https://tdp.yuvagalamapp.com/{{user.user_name}}/padayatra-list/'

                        return response.json()
                    } else if (response.status == 401) {
                        window.location.href = 'https://tdp.yuvagalamapp.com/'
                    }

                })
            } else {
                alert("fill all fields")
            }
        })

    </script>
</body>

</html>