{% load static %}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>TDP | Padayatra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo-dark.png' %}">

    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
        rel="stylesheet" />

</head>

<body data-layout="horizontal" data-topbar="colored" data-layout-size="boxed">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="\{{user.user_name}}/dashboard/" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                            </span>
                        </a>

                        <a href="\{{user.user_name}}/dashboard/" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="68">
                            </span>
                        </a>
                    </div>

                    <button type="button"
                        class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                        data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block">
                        <button type="button"
                            class="btn header-item waves-effect d-flex align-items-center justify-content-center"
                            id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="rounded-circle header-profile-user"
                                src="{% static 'assets/images/avatar-img.png' %}" alt="Header Avatar">
                            <span
                                class="d-none d-xl-inline-block ms-1 fw-medium font-size-15 text-white">{{user.user_name}}</span>
                            <i class="arrow-down d-none d-xl-inline-block font-size-15 text-white"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="\{{user.user_name}}/logout/" id="logout"><i
                                    class="fas fa-sign-out-alt font-size-15 align-middle me-1 text-muted"></i><span
                                    class="align-middle">Sign out</span></a>
                        </div>
                    </div>



                </div>
            </div>
            <div class="container-fluid">
                <div class="topnav">
                    {% if user.is_superadmin %}
                    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                        <div class="collapse navbar-collapse" id="topnav-menu-content">
                            <ul class="navbar-nav">

                                <li class="nav-item">
                                    <a class="nav-link" href="\{{user.user_name}}/dashboard/">
                                        <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                                    </a>
                                </li>



                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages"
                                        role="button">
                                        <i class="fas fa-stream me-2"></i>Timelines <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-pages">


                                        <a href="\{{user.user_name}}/posts/" class="dropdown-item">
                                            <div class="arrow-right"></div>Posts
                                        </a>
                                        <a href="\{{user.user_name}}/stories/" class="dropdown-item">Stories</a>
                                        <a href="\{{user.user_name}}/banners/" class="dropdown-item">Banners</a>


                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages"
                                        role="button">
                                        <i class="fas fa-walking me-2"></i>Padayatra <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-pages">

                                        <a href="\{{user.user_name}}/schedule-padayatra/" class="dropdown-item">Schedule
                                            Padayatra</a>
                                        <a href="\{{user.user_name}}/padayatra-list/" class="dropdown-item">List of
                                            Padayatra</a>

                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="\{{user.user_name}}/users/">
                                        <i class="fa fa-users me-2"></i> Users
                                    </a>
                                </li>
                                <li class="nav-item align-items-center" style="display:flex; ">
                                    <a class="nav-link" href="\{{user.user_name}}/connect-with-NL/"
                                        style="background: #FFED00;  padding: 6px 10px; border-radius: 50px; font-weight: 400; font-size: 14px; line-height: 12px;color: #E52A1D;">
                                        Connect with NL
                                    </a>
                                </li>
                                <li class="nav-item align-items-center" style="display:flex;margin-left:10px; ">
                                    <a class="nav-link" href="\{{user.user_name}}/live/"
                                        style="background: #FFED00;  padding: 6px 10px; border-radius: 50px; font-weight: 400; font-size: 14px; line-height: 12px;color: #E52A1D;">
                                        <i class="fab fa-youtube"></i> Live
                                    </a>
                                </li>
                                <li class="nav-item align-items-center" style="display:flex;margin-left:10px; ">
                                    <a class="nav-link" href="\{{user.user_name}}/sendnotification/">
                                        <i class="fa fa fa-bell"></i> Send Notification
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    {% elif user.is_manager %}
                    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
                        <div class="collapse navbar-collapse" id="topnav-menu-content">
                            <ul class="navbar-nav">

                                <li class="nav-item">
                                    <a class="nav-link" href="\{{user.user_name}}/dashboard/">
                                        <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages"
                                        role="button">
                                        <i class="fas fa-stream me-2"></i>Timelines <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-pages">


                                        <a href="\{{user.user_name}}/posts/" class="dropdown-item">
                                            <div class="arrow-right"></div>Posts
                                        </a>
                                        <a href="\{{user.user_name}}/stories/" class="dropdown-item">Stories</a>
                                        <a href="\{{user.user_name}}/banners/" class="dropdown-item">Banners</a>


                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    {% endif %}

                </div>
            </div>
        </header>



        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">




                    <div class="row">

                        <div class="col-12">
                            <div class="card">
                                <div class="card-body offset-lg-3 col-md-6 col-sm-12">
                                    <div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Title</label>
                                            <input type="email" class="form-control" id="title"
                                                placeholder="Enter Notification Title">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                            <textarea id="body" class="form-control" id="exampleFormControlTextarea1"
                                                placeholder="Enter Notification Message" rows="3"></textarea>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <label for="inputState" class="form-label">Type</label>
                                                <select id="notification_type" class="form-select">
                                                    <option value='' selected>Choose Notification Type</option>
                                                    <option value="youtube">youtube</option>
                                                    <option value="poll">poll</option>
                                                    <option value="post">post</option>
                                                    <option value="padayatra">padayatra</option>

                                                </select>
                                            </div>

                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-12" id="padayatra_select" style="display:none;">
                                                <label for="inputState" class="form-label">Select District</label>
                                                <select id="pclist" class="form-select">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-12" id="assembly_check" style="display:none;">
                                                <div class="radio rdio-primary col-12">
                                                    <input name="radio" value="2" id="radio2" type="checkbox">
                                                    <label for="radio2">Select an Assembly in the District</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row mb-3" id="assembly_select" style="display: none;">
                                            <div class="col-md-12">
                                                <label for="inputState" class="form-label">Select Assembly</label>
                                                <select id="aclist" class="form-select">
                                                    <option selected>Choose a District</option>

                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <button type="submit" id="notify" class="btn btn-primary">Send</button>
                                        </div>
                                        <div id="error"></div>


                                        <!-- end row -->


                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->


                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <script>document.write(new Date().getFullYear())</script> © Telugu Desam Party Padayatra.
                        </div>

                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->





    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'assets/libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery.counterup/jquery.counterup.min.js' %}"></script>

    <!-- plugins -->
    <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
    <!-- init js -->
    <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>


    <!-- App js -->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script>
        $(function () {
            $('input')
                .on('change', function (event) {
                    var $element = $(event.target);
                    var $container = $element.closest('.example');

                    if (!$element.data('tagsinput')) return;

                    var val = $element.val();
                    if (val === null) val = 'null';
                    var items = $element.tagsinput('items');

                    $('code', $('pre.val', $container)).html(
                        $.isArray(val)
                            ? JSON.stringify(val)
                            : '"' + val.replace('"', '\\"') + '"'
                    );
                    $('code', $('pre.items', $container)).html(
                        JSON.stringify($element.tagsinput('items'))
                    );
                })
                .trigger('change');
        });
    </script>

    <script>
        const cName = "{{user.user_name}}"
        function getCookie(cName) {
            const name = cName + "=";
            const cDecoded = decodeURIComponent(document.cookie); //to be careful
            const cArr = cDecoded.split('; ');
            let res;
            cArr.forEach(val => {
                if (val.indexOf(name) === 0) res = val.substring(name.length);
            })
            return res;
        }
        let cookie = getCookie(cName)
        if (cookie == undefined) {
            window.location.href = 'https://tdp.yuvagalamapp.com/'
        } else {
            getPc()
        }
        let notification_body, notification_title, notification_to, notification_type
        let district, assembly;

        async function getPc() {
            await fetch('https://tdp.yuvagalamapp.com/users/all-districts', {
                headers: {
                    'Content-Type': "application/json",
                    "Authorization": `Bearer ${cookie}`
                },
            })
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else if (response.status == 401) {
                        window.location.href = 'https://tdp.yuvagalamapp.com/'
                    }
                }
                )
                .then(data => {
                    let districts = data.data
                    $('#pclist').append(`<option value="" selected>Select Parliament Constituency</option>`)
                    districts.forEach(element => {
                        const newDistrict = `<option value="${element.district}">${element.district}</option>`
                        $('#pclist').append(newDistrict)

                    });
                })
        }
        $("#pclist").on('change', function (e) {
            $('#aclist').empty()
            $('#aclist').append(`<option value="" selected>Select Parliament Constituency</option>`)
            district = e.target.value
            getAc(district)
        })
        async function getAc(selected_district) {
            await fetch(`https://tdp.yuvagalamapp.com/users/search-assemblies/${district}`, {
                headers: {
                    'Content-Type': "application/json",
                    "Authorization": `Bearer ${cookie}`
                },
            })
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else if (response.status == 401) {
                        window.location.href = 'https://tdp.yuvagalamapp.com/'
                    }
                }
                )
                .then(data => {
                    let acs = data.data
                    $('#aclist').empty()
                    $('#aclist').append(`<option value="" selected>Select an Assembly Constituency</option>`)
                    acs.forEach(ele => {
                        $('#aclist').append(`<option value="${ele.assembly}">${ele.assembly}</option>`)
                    })
                })
        }




        $('#notification_type').on('change', function (e) {
            if (e.target.value == 'padayatra') {
                $('#padayatra_select').css('display', '')
                $('#assembly_check').css('display', '')
            }
        })

        let dependency = '';

        $('#radio2').on('change', function (e) {
            console.log($('#radio2')[0].checked)
            if ($('#radio2')[0].checked) {
                dependency = 2
                $('#assembly_select').css('display', '')
            } else {
                dependency = ''
                $('#assembly_select').css('display', 'none')
            }
        })


        $('#notify').on('click', function (e) {
            $('#error').empty()
            if ($('#notification_type').val() == 'padayatra') {
                if (dependency == 1) {
                    notification_to = ($('#pclist').val()).replaceAll(' ', '').toLowerCase()
                } else if (dependency == 2) {
                    notification_to = ($('#aclist').val()).replaceAll(' ', '').toLowerCase()
                }
            } else if ($('#notification_type').val() == 'youtube') {
                notification_to = 'youtube'
            } else if ($('#notification_type').val() == 'poll') {
                notification_to = 'poll'
                // $('#padayatra_select').css('display','') 
            } else if ($('#notification_type').val() == 'post') {
                notification_to = 'post'
            }
            notification_body = $('#body').val()
            notification_title = $('#title').val()
            notification_type = ($('#notification_type').val()).replace(' ', '')
            if (notification_body == '' | notification_title == '' | notification_to == '' | notification_type == '') {
                if (notification_type == 'padayatra' & dependency == '') {
                    $('#error').append('<p class="text-danger">Please Fill in all fields</p>')

                } else {
                    $('#error').append('<p class="text-danger">Please Fill in all fields</p>')
                }
            } else {
                send_notification(notification_body, notification_title, notification_to, notification_type)
            }
        })

        async function send_notification(notification_body, notification_title, notification_to, notification_type) {
            //type:{youtube,poll,padayatra,post}
            console.log(notification_body, notification_title, notification_to, notification_type)
            //to:{||,||,||,||}
            await fetch('https://fcm.googleapis.com/fcm/send', {
                method: 'post',
                headers: {
                    'Content-Type': "application/json",
                    "Authorization": `key=AAAAeuQtz7Y:APA91bFDLvVptXFHkA7FG7fXkz9A0fkRp4brlDRI1HoH2iAzHVRPKBOTMSKchNufM21uqT2K6unZZOgjl29VVJO5LsAqq8nnpQBMGGpE1TgO0W3Sx7gf69pbtsfkS2LZ8gSkYT6RRtKh
`
                },
                body:
                    JSON.stringify(
                        {
                            "priority": "high",
                            "sound": true,
                            "data": {
                                "click_action": "FLUTTER_NOTIFICATION_CLICK",
                                "body": "Custom Notifications",
                                "title": "Custom Notification Title",
                                "type": `${notification_type}`
                            },
                            "notification": {
                                "title": `${notification_title}`,
                                "body": `${notification_body}`,
                                "android_channel_id": "general_key"
                            },
                            "to": `/topics/${notification_to}`
                        })
            }).then(response => {
                console.log(response)
                if (response.ok) {
                    alert("ok")
                    window.location.reload()
                    return response.json()
                }
            }).then(data => {
                console.log(data)
            })
        }  
    </script>

</body>

</html>