{% load static %}
<!doctype html>
<html lang="en">

<head>
        
        <meta charset="utf-8" />
        <title>TDP | Padayatra</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/logo-dark.png' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body class="authentication-bg">
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
               
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            
                            <div class="card-body p-4"> 
							<div class="text-center mb-5 d-block auth-logo">
                           
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="82" class="logo logo-dark">
                              
                           
                        </div>
                                <div class="text-center mt-2">
                                    <h5 class="color-red-tdp">Welcome Back !</h5>
                                    <p class="text-muted">Sign in to admin dashboard.</p>
                                    <p class="text-danger" id="errormsg"></p>
                                </div>
                                  
                                <div class="p-2 mt-4">
                                    {% for message in messages %}
                                    <p class="text-danger">{{message}}</p>
                                    {% endfor %}
                                    <form >
                                        {% csrf_token %}
        
                                        <div class="mb-3">
                                            <label class="form-label" for="username">Username or Email id<span style="color:red;padding-left:5px;">*</span></label>
                                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username or email id" required>
                                        </div>
                
                                        <div class="mb-3">
                                           
                                            <label class="form-label" for="userpassword">Password<span style="color:red;padding-left:5px;">*</span></label>
                                            <input type="password" id="password" class="form-control" name="password" placeholder="Enter password" required>
                                        </div>
                
                                      
                                        
                                        <div class="mt-3 text-end">
                                            <button class="btn btn-tdp w-sm waves-effect waves-light" type="submit">Log In</button>
                                        </div>
            
                                        

                                    </form>
                                </div>
            
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <h6 class="color-red-tdp">© <script>document.write(new Date().getFullYear())</script> Telugu Desam Party Padayatra</h6>
                        </div>

                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %} "></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %} "></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %} "></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %} "></script>
        <script src="{% static 'assets/libs/waypoints/lib/jquery.waypoints.min.js' %} "></script>
        <script src="{% static 'assets/libs/jquery.counterup/jquery.counterup.min.js' %} "></script>

        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %} "></script>
        <script>
            
            $('form').on('submit',function(e){
                $('#errormsg').empty()
                e.preventDefault()
                let username=$('#username').val()
                let password=$('#password').val()
                const formdata=new FormData()
                formdata.append('username',username)
                formdata.append('password',password)
                admin_login()
                async function admin_login(){
                    const response = await fetch('http://localhost:8000/admin-signin/',{
                    method:'post',
                    body:formdata
                });
                    var data = await response.json();
                    if (data.status=='False'){
                        $('#errormsg').append(data.message)
                        console.error("error occured",data.message)
                    }else if(data.status=='True'){
                        console.log("success",data.message)
                        window.location.href=`${username}/dashboard/`
                    }
                    }
            })
        </script>
    </body>
</html>
